<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title></title>
    <!--[if !mso]><!-- -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="margin:0; padding:0; background-color:#f2f4f6; font-family: Arial, Helvetica, sans-serif;">

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center" style="padding:40px 16px;">

                <table width="100%" cellpadding="0" cellspacing="0"
                    style="background:#ffffff; border-radius:6px; max-width:600px; overflow: hidden;">

                    <tr>
                        <td style="padding:32px; font-size:14px; color:#333333; line-height:1.6;">

                            <p style="margin-top:0;">
                                <strong>Olá, {{name}}!</strong>
                            </p>

                            <p>
                                Recebemos sua solicitação de visita e ficamos muito felizes com seu interesse em
                                conhecer nossas iniciativas voltadas à sustentabilidade.
                            </p>

                            <p>
                                Em breve, nossa equipe entrará em contato para confirmar a data, esclarecer eventuais
                                dúvidas e compartilhar mais detalhes sobre a visita.
                            </p>

                            <!-- <p>Agradecemos o contato e o interesse.</p> -->

                            <p style="color:#134716;">
                                <strong>
                                    Acreditamos que pequenas ações geram grandes transformações.
                                </strong></br>
                            </p>
                            <p style="margin-top: -16px; padding: 0;">Obrigado por fazer parte desse
                                movimento 🌱</p>

                            <p style="margin-top:28px;">
                                Atenciosamente,<br>
                                <strong>Setor de Sustentabilidade</strong><br>
                                PUCRS
                            </p>

                        </td>
                    </tr>

                </table>

            </td>
        </tr>
    </table>

    <p style="margin-top:-14px; font-size:12px; color:#777777; text-align: center;">
        Este é um e-mail automático. Não é necessário respondê-lo.
    </p>

</body>

</html>